@import '../../../assests/styles/variables';

.card-product-info {
  color: $white;
}

.card-product-action {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;

  .btn {
    // display: inline;
    width: 100%;
    border-radius: 0;
  }
}

.tiles {
  display: grid;
  grid-gap: $grid-gutter-width;
  grid-template-columns: repeat(5, 1fr);
}
